.Standings {
    padding: 35px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Groups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Group__table {
    width: 100%;
    height: 200px;
}

.Group__table-head {
    padding: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.Group__table td,
.Group__table th {
    border: 1px solid #dee2e6;
    padding: 0.2rem;
    font-size: 0.8rem;
    text-align: center;
}

.Group__table td:first-child,
.Group__table th:first-child {
    text-align: left;
    width: 107px;
}

.Group__table tbody tr:first-child {
    background: #6ef4df;
}

.Group__table tbody tr:nth-child(2) {
    background: #00d5ff;
}

.Group__table tbody td img {
    width: 100%;
    max-width: 20px;
    height: 15px;
}

input {
    text-align: center;
    border-radius: 20px;
    outline: 0;
    font-weight: bold;
    width: 20px;
    border: 2px solid RGB(11, 95, 145);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

