.Standings {
    padding: 35px 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.Groups {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Standings .Groups .Group {
    min-width: 700px;
}

.Group__table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Group__table-head {
    font-size: 15px;
    width: 100%;
}

.Group__table-head tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding: 5px;
    font-size: 15px;
    color: gray;
}

.Group__table-head tr th {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Group__table-head tr th abbr {
    text-decoration: none;
}

.Group__table-body {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.Group__table-body tr {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    padding: 5px;
    font-size: 15px;
}

.Group__table-body tr td {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Group__table-body tr:hover {
    background-color: rgb(247, 240, 240);
}

.Group__table td,
.Group__table th {
    font-weight: normal;
}

.Group__table td:first-child,
.Group__table th:first-child {
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.Group__table tbody td img {
    width: 25px;
    height: 15px;
    margin: 0 10px;
    border: 1px solid rgba(128, 128, 128, 0.733);
}

input {
    text-align: center;
    border-radius: 20px;
    outline: 0;
    font-weight: bold;
    width: 30px;
    border: 2px solid RGB(11, 95, 145);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.Group__table + .Matches {
    /* display: none; */
}

.Standings .Groups .Group .Group_title {
    cursor: pointer;
}

.Standings .Groups .Group .Group_title:active +.Group__table +.Matches {
    display: flex;
}


