.MatchWrapper {
    display: flex;
    flex-wrap: wrap;
    /* align-items: flex-start; */
    justify-content: center;
    width: 50%;
    height: 100px;
    font-size: 15px;
    background-color: RGB(255, 255, 255);
}

.Match {
    border: 1px solid rgba(128, 128, 128, 0.164);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 15px;
    background-color: RGB(255, 255, 255);
    /* cursor: pointer; */
}

.StadiumImg {
    display: flex;
    width: 100%;
    height: 200px;
    z-index: 1;
    border: 5px ridge rgba(128, 128, 128, 0.555);
}

.StadiumImg img {
    display: flex;
    width: 100%;
}

.Match:hover {
    background-color: rgba(247, 240, 240, 0.548);
}

.Match__Teams {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 0 0;
    justify-content: flex-start;
}

.Team__Score {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px 0;
}

.Match img {
    width: 25px;
    height: 15px;
    margin: 0 10px;
    border: 1px ridge rgba(128, 128, 128, 0.733);
}

.Team__Score input {
    width: 30px;
}

.Team__Score span:nth-child(2) {
    display: flex;
    width: 100px;
}

.Match__Details {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 10px 0 20px;
    border-left: 0.5px outset rgba(128, 128, 128, 0.158);
}

.Match__Details span {
    display: flex;
    font-size: 15px;
    margin: 3px 0;
    padding: 0 0 0 10px;
}

.date {
    width: 100%;
    display: flex;
    align-items: center;
}

.date span {
    font-weight: bold;
    display: flex;
    padding: 0;
    width: 30%;
}

.date .day {
    font-weight: normal;
    width: 22%;
}

span.stadiumName {
    color: RGB(11, 95, 145);
    display: flex;
    min-width: 100px;
    cursor: pointer;
    margin: 0;
    padding: 3px 10px;
    margin-bottom: 5px;
    box-shadow: 0 3px 5px -1px #555;
    border-radius: 7px;
    border: 2px solid rgba(128, 128, 128, 0.226);
}

span.stadiumName:hover {
    background-color: rgba(128, 128, 128, 0.226);
}

span.stadiumCity {
    color: RGB(11, 95, 145);
    margin: 0;
    padding: 3px 10px;
    width: 60%;
}

@keyframes Img-Opening {
    0% {
        height: 0px;
    }
    100% {
        height: 200px;
    }
}

.team__matchScore {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 10px; */
    font-size: 15px;
    font-weight: bold;
}

