.Matches .Groups .Group {
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
}

.Matches {
    margin-top: 30px;
}

.Group_title {
    background: rgb(247, 240, 240);
    padding: 10px;
    width: 100%;
}




