.Match img {
    max-width: 30px;
    height: 20px;
    margin: 0 20px;
}

.Match {
    border: 3px solid grey;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: RGB(11, 95, 145);
    font-size: 20px;
}

.Team__Score {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.Team__Score2 {
    /* justify-content: flex-start; */
}


.Match__Details {
    width: 100%;
    display: flex;
    padding: 5px 0;
    justify-content: center;
    
}

.Team__Score input {
    width: 40px;
}

.Matches .Groups .Group {
    width: calc(50% - 30px);
    margin: 15px;
}

.Matches {
    margin: 20px 40px;
}

.Match__Details span {
    width: calc(100% / 3);
    display: flex;
    color: white;
    justify-content: center;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 17px;
}