.Group {
    margin: 5px;
    background: white;
    min-width: 500px;
    max-width: calc(50% - 10px);
    display: flex;
    flex-wrap: wrap;
}

.Group_title {
    background: #ceced1;
    padding: 10px;
    border-bottom: 1px solid #c3c3c3;
}





